<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Словарь</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-3" href="/">
            Cards
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/section/select">Create cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/section/create">Add new sections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/facts">Facts</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger btn-sm my-1 ml-1" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
      </nav>

    <div class="container">
        <h1>Card Management</h1>

        <table id="editable" class="table table-hover rounded">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Definition</th>
                    <th>Delete Card</th>
                    <th>Edit Card</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <form id="edit-card-form" class="mb-3" style="display: none;">
            <div class="form-row align-items-end">
                <div class="col">
                    <input type="text" id="edit-word" class="form-control" placeholder="New Username" required>
                </div>
                <div class="col">
                    <input type="text" id="edit-definition" class="form-control" placeholder="New Password" required>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success btn-block">Edit Card</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/delete-cards.js"></script>
</body>
</html>
